@model List<ThirdWay.Data.Model.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
@foreach (var post in Model)
{
    <li>@post.Title</li>
}
</ul>