@{
    ViewData["Title"] = "Home Page";
}

<div class="full-container top-margin-20 margin-20">
    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="https://wwwassets.rand.org/content/rand/pubs/commentary/2023/04/the-four-day-school-week-are-the-pros-worth-the-cons/jcr:content/par/teaser.fit.0x1200.jpeg/1694537420189.jpeg" width="100%" alt="">
        </div>
        <div class="col-12 col-lg-8">
            <p class="gold-txt">20.01.2024</p>
            <h1 class="article-title white-txt">Article Title</h1>
            <p class="article-desc white-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ducimus at eius quae repellendus nulla? Iste impedit consequatur sapiente fugit nisi, dolor itaque perspiciatis reiciendis exercitationem assumenda in, beatae eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae vero. Similique quia laudantium, sed iusto sit nam odit enim nisi debitis! Cum veniam tempora ipsa tempore adipisci! Inventore, consequuntur?</p>
            <div class="article-options">
                <div class="read-more">
                    <a href="singlePost.html" class="rss-btn gold-bg">Read More</a>
                </div>
                <div class="shareIcons">
                    <i class="fa-solid fa-share-nodes gold-txt"></i>
                    <i class="fa-regular fa-eye gold-txt"></i>
                    <i class="fa-regular fa-star gold-txt"></i>
                </div>
            </div>
        </div>
    </div>
    <hr class="white-txt top-margin-20 bottom-margin-20">
    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="https://wwwassets.rand.org/content/rand/pubs/commentary/2023/04/the-four-day-school-week-are-the-pros-worth-the-cons/jcr:content/par/teaser.fit.0x1200.jpeg/1694537420189.jpeg" width="100%" alt="">
        </div>
        <div class="col-12 col-lg-8">
            <p class="gold-txt">20.01.2024</p>
            <h1 class="article-title white-txt">Article Title</h1>
            <p class="article-desc white-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ducimus at eius quae repellendus nulla? Iste impedit consequatur sapiente fugit nisi, dolor itaque perspiciatis reiciendis exercitationem assumenda in, beatae eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae vero. Similique quia laudantium, sed iusto sit nam odit enim nisi debitis! Cum veniam tempora ipsa tempore adipisci! Inventore, consequuntur?</p>
            <div class="article-options">
                <div class="read-more">
                    <a href="singlePost.html" class="rss-btn gold-bg">Read More</a>
                </div>
                <div class="shareIcons">
                    <i class="fa-solid fa-share-nodes gold-txt"></i>
                    <i class="fa-regular fa-eye gold-txt"></i>
                    <i class="fa-regular fa-star gold-txt"></i>
                </div>
            </div>
        </div>
    </div>
    <hr class="white-txt top-margin-20 bottom-margin-20">
</div>