@model List<ThirdWay.Data.Model.Post>
@{
    ViewData["Title"] = "All Posts";
}

@foreach (var post in Model)
{
    <div class="card mb-3">
        <img src="@post.ImageUrl" class="card-img-top" alt=""/>
        <div class="card-body">
            <h5 class="card-title"><a href="/Post/Id/@post.Id">@post.Title</a></h5>
            <p class="card-text">
                @post.Description
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated @post.LastUpdated</small>
        </div>
    </div>
}
